.dashboard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.dashboard header {
  position: fixed;
  background-color: white;
  width: 100%;
  max-width: 1550px;
  padding: 10px;
  border-bottom: 1px solid #d1d1d1;
  font-family: "Montserrat Alternates", sans-serif;
  color: #0074e1;
  z-index: 10;
}
.dashboard header nav {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.dashboard header .logo a {
  color: #0074e1;
}
.dashboard header .search {
  height: 30px;
  border-radius: 13px;
  border: 1px solid #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.dashboard header input {
  outline: none;
  border: none;
  width: 80%;
  height: 70%;
  background-color: transparent;
}
.dashboard header .dashboard-options {
  display: none;
}
.dashboard header .search-list {
  position: absolute;
  top: 30px;
  background-color: white;
  padding: 10px;
  max-height: 200px;
  width: 200px;
  display: none;
}
.dashboard header .search-list ul {
  list-style-type: none;
}
.dashboard header .search-list a {
  color: #0074e1;
}
.dashboard header .search-list li {
  font-family: "Open Sans", sans-serif;
  margin: 10px;
}
.dashboard header .search-list-active {
  display: block;
}
.dashboard main {
  min-height: 100%;
  height: 100vh;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.dashboard main section {
  display: none;
  max-width: 400px;
  margin: auto;
  padding-bottom: 70px;
}
.dashboard main .main-null {
  display: none;
}
.dashboard main .main-active {
  display: block !important;
}
.dashboard main .new-Tweet {
  display: none;
}
.dashboard main .profile_suggestion-section {
  background-color: white;
  padding: 10px;
  border-radius: 13px;
}
.dashboard main .profile_suggestion-section a {
  color: #0074e1;
}
.dashboard main .profile_suggestion-section .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.dashboard main .profile_suggestion-section .profile img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
.dashboard main .profile_suggestion-section .profile a {
  color: #0074e1;
}
.dashboard main .profile_suggestion-section .profile p {
  text-align: center;
}
.dashboard main .profile_suggestion-section .profile button {
  width: 120px;
  height: 30px;
  margin: 20px;
  outline: 0;
  border: 0;
  background-color: #f79e02;
  box-shadow: 1px 1px 3px #f79e02;
  color: #f4f5f6;
  cursor: pointer;
  border-radius: 13px;
}
.dashboard main .profile_suggestion-section .profile button:hover {
  box-shadow: 1px 1px 7px #f79e02;
}
.dashboard main .profile_suggestion-section h1 {
  font-family: "Open Sans", sans-serif;
  color: #0074e1;
  text-align: center;
}
.dashboard main .profile_suggestion-section .friend_suggestion_container {
  margin: auto;
  width: 90%;
  height: 40vh;
  overflow-y: auto;
}
.dashboard main .profile_suggestion-section .friend_suggestion_container .suggestion {
  display: flex;
  width: 90%;
  margin: 20px 0;
}
.dashboard main .profile_suggestion-section .friend_suggestion_container .suggestion .suggestion_user_profile {
  display: flex;
  width: 100%;
}
.dashboard main .profile_suggestion-section .friend_suggestion_container .suggestion .suggestion_user_profile img {
  width: 30%;
}
.dashboard main .profile_suggestion-section .friend_suggestion_container .suggestion button {
  outline: 0;
  background-color: #0074e1;
  box-shadow: 1px 1px 3px #0074e1;
  color: #f4f5f6;
  cursor: pointer;
  border-radius: 13px;
  border: none;
  width: 200px;
}
.dashboard main .profile_suggestion-section .friend_suggestion_container .suggestion button:hover {
  box-shadow: 1px 1px 7px #0074e1;
  background-color: #1ed2f4;
}
.dashboard main .notification-section {
  height: 100%;
  width: 90%;
  overflow: hidden;
  background-color: white;
  padding: 10px;
  border-radius: 13px;
}
.dashboard main .notification-section .choose-notification button {
  width: 50%;
  font-size: 1em;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  outline: none;
  font-weight: bold;
  border: none;
  color: #838383;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}
.dashboard main .notification-section .choose-notification button:hover {
  color: #0074e1;
}
.dashboard main .notification-section .choose-notification .notif-active {
  border-bottom: 1px solid #0074e1;
  color: #0074e1;
}
.dashboard main .notification-section .choose-notification span {
  color: red;
  margin-left: 5px;
}
.dashboard main .notification-section .notification-container {
  padding-bottom: 70px;
}
.dashboard main .notification-section .notification-container a {
  color: black;
}
.dashboard main .notification-section .notification-container .notification {
  display: flex;
  overflow-y: auto;
  margin-bottom: 20px;
}
.dashboard main .notification-section .notification-container .notification-type {
  width: 20%;
}
.dashboard main .notification-section .notification-container .notification-type img {
  width: 40%;
  float: right;
  margin-right: 10px;
}
.dashboard main .notification-section .notification-container .notification-content {
  width: 80%;
}
.dashboard main .notification-section .notification-container .notification-content img {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}
.dashboard main .notification-section .notification-container .notification-content p {
  font-family: "Open Sans", sans-serif;
}
.dashboard main .notification-section .notification-container .notification-content .notif-info {
  color: #838383;
}
.dashboard main .notification-section .notification-container .notification-content .username {
  font-weight: bold;
  color: #0074e1;
}
.dashboard main .notification-section section {
  overflow-y: auto;
  margin-top: 10px;
  height: 100%;
  display: none;
}
.dashboard main .notification-section .notif-container-active {
  display: block;
}
.dashboard main .notification-section .friend_request {
  padding-bottom: 70px;
}
.dashboard main .notification-section .friend_request a {
  color: #0074e1;
}
.dashboard main .notification-section .friend_request .friend_request_content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 40px auto;
}
.dashboard main .notification-section .friend_request .friend_request_content .user_profile {
  display: flex;
  width: 40%;
}
.dashboard main .notification-section .friend_request .friend_request_content .user_profile img {
  width: 40%;
  margin-right: 10px;
}
.dashboard main .notification-section .friend_request .friend_request_content .accept_delete {
  width: 45%;
}
.dashboard main .notification-section .friend_request .friend_request_content .accept_delete button {
  height: 80%;
  width: 40%;
  margin: 0 2px;
  border: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
  border-radius: 13px;
  cursor: pointer;
}
.dashboard main .notification-section .friend_request .friend_request_content .accept_delete .accept {
  background-color: #1ed2f4;
  color: white;
}
.dashboard main .notification-section .friend_request .friend_request_content .accept_delete .accept:hover {
  background-color: #0074e1;
}
.dashboard main .notification-section .friend_request .friend_request_content .accept_delete .delete {
  background-color: #f79e02;
  color: white;
}
.dashboard main .notification-section .friend_request .friend_request_content .accept_delete .delete:hover {
  background-color: red;
}
.dashboard main .active-new-tweet {
  top: 50% !important;
}
.dashboard main .new-Tweet {
  display: flex;
  width: 90%;
  position: fixed;
  top: 1000%;
  left: 50%;
  height: 80vh;
  transition: 0.5s;
  transform: translate(-50%, -50%);
  z-index: 11;
  padding: 10px 15px;
  padding-top: 20px;
  background-color: white;
  border-radius: 13px;
  margin-bottom: 20px;
  justify-content: space-between;
  border: 1px solid #d1d1d1;
}
.dashboard main .new-Tweet .user_pic {
  width: 10%;
}
.dashboard main .new-Tweet .user_pic img {
  width: 70%;
}
.dashboard main .new-Tweet .newTweetForm {
  width: 90%;
}
.dashboard main .new-Tweet .newTweetForm .form {
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 10px;
  width: 100%;
}
.dashboard main .new-Tweet .newTweetForm img {
  width: 90% !important;
}
.dashboard main .new-Tweet .newTweetForm textarea {
  width: 100%;
  resize: none;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  outline: 0;
  border: none;
}
.dashboard main .new-Tweet .newTweetForm .formIconsContainer {
  display: flex;
}
.dashboard main .new-Tweet .newTweetForm .formIconsContainer input[type=file] {
  display: none;
}
.dashboard main .new-Tweet .newTweetForm .formIconsContainer label {
  color: #1ed2f4;
  margin-top: 10px;
  font-size: 1.2em;
  cursor: pointer;
}
.dashboard main .new-Tweet .newTweetForm .formIconsContainer input[type=submit] {
  padding: 10px;
  background-color: #1ed2f4;
  color: white;
  font-family: "Open Sans", sans-serif;
  border: none;
  border-radius: 20px;
  margin-left: auto;
  cursor: pointer;
  transition: 0.5s;
  outline: 0;
}
.dashboard main .new-Tweet .newTweetForm .formIconsContainer input[type=submit]:hover {
  transform: scale(1.1);
}
.dashboard main .news-feed-container .empty {
  background-color: white;
  text-align: center;
  padding: 30px;
  border-radius: 13px;
}
.dashboard main .news-feed-container .empty p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #0074e1;
}
.dashboard main .news-feed-container .news-feed {
  display: flex;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 13px;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  width: 100%;
  height: -webkit-max-content;
  height: max-content;
}
.dashboard main .news-feed-container .profile_logo {
  width: 10%;
}
.dashboard main .news-feed-container .profile_logo img {
  width: 5vw;
  max-width: 40px;
  max-height: 40px;
  min-width: 30px;
  min-height: 30px;
  height: 5vw;
  border-radius: 40px;
}
.dashboard main .news-feed-container .feed-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.dashboard main .news-feed-container .feed-content img {
  width: 90%;
}
.dashboard main .news-feed-container .feed-content p {
  width: 100%;
}
.dashboard main .news-feed-container .tweet-content textarea {
  width: 90%;
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  resize: vertical;
  display: none;
  color: grey;
}
.dashboard main .news-feed-container .tweet-content .pop {
  display: block;
}
.dashboard main .news-feed-container .feed-user-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}
.dashboard main .news-feed-container .feed-user-info p {
  margin-left: 10px;
}
.dashboard main .news-feed-container .feed-user-info .date {
  margin-left: auto;
  display: flex;
}
.dashboard main .news-feed-container .feed-user-info #Postdate {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7em;
}
.dashboard main .news-feed-container .feed-user-info .dropdownOption {
  height: 0;
  overflow: hidden;
  right: 0;
  top: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  transition: 0.5s;
  z-index: 10;
}
.dashboard main .news-feed-container .feed-user-info .dropdownOption button {
  margin: 5px;
  outline: none;
  border: none;
  background-color: #0074e1;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.dashboard main .news-feed-container .feed-user-info .dropdown-active {
  height: 70px !important;
}
.dashboard main .news-feed-container .feed-user-info .feed-username {
  font-weight: bolder;
  color: #0074e1;
}
.dashboard main .news-feed-container .icons ul {
  display: flex;
  list-style-type: none;
}
.dashboard main .news-feed-container li {
  display: flex;
  margin-top: 10px;
}
.dashboard main .news-feed-container i {
  color: #1ed2f4;
  margin: 0 10px;
}
.dashboard main .news-feed-container i:hover {
  color: #0074e1;
  cursor: pointer;
}
.dashboard main .news-feed-container .fa-heart:hover {
  color: red;
}
.dashboard main .news-feed-container .liked {
  color: red;
}
.dashboard main .news-feed-container .liked:hover {
  color: #0074e1;
}
.dashboard main .news-feed-container .comment-section {
  height: 0;
  overflow: hidden;
}
.dashboard main .news-feed-container .comment-section input {
  width: 90%;
  font-size: 0.9em;
  outline: none;
  border: none;
  border-bottom: 1px solid #949494;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}
.dashboard main .news-feed-container .comment-section .comment-container {
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  padding: 10px;
}
.dashboard main .news-feed-container .comment-section .comment-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}
.dashboard main .news-feed-container .comment-section .comment-content .username-profile-comment {
  width: 10%;
  margin-bottom: auto;
}
.dashboard main .news-feed-container .comment-section .comment-content .username-profile-comment img {
  width: 100%;
}
.dashboard main .news-feed-container .comment-section .comment-content .comment {
  width: 85%;
}
.dashboard main .news-feed-container .comment-section .comment-content .comment h3 {
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  color: #0074e1;
  display: inline;
}
.dashboard main .news-feed-container .comment-section .comment-content .comment .username-and-options {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.dashboard main .news-feed-container .comment-section .comment-content .comment .username-and-options .dropdownOption {
  height: 0;
  overflow: hidden;
  right: 0;
  top: 20px;
  display: flex;
  position: absolute;
  transition: 0.5s;
  z-index: 10;
}
.dashboard main .news-feed-container .comment-section .comment-content .comment .username-and-options .dropdownOption button {
  margin: 5px;
  width: 50px;
  outline: none;
  border: none;
  background-color: #0074e1;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.dashboard main .news-feed-container .comment-section .comment-content .comment .dropdown-active {
  transition: 0.5s;
  height: -webkit-max-content !important;
  height: max-content !important;
}
.dashboard main .news-feed-container .comment-section .comment-content .comment i {
  right: 0;
}
.dashboard main .news-feed-container .comment-section .comment-content .comment p {
  font-size: 0.9em;
  font-family: "Open Sans", sans-serif;
}
.dashboard main .news-feed-container .comment-section .comment-content .comment input {
  font-size: 0.9em;
  font-family: "Open Sans", sans-serif;
  border-bottom: none;
  background-color: transparent;
  display: none;
  border-top: 1px solid #0074e1;
  color: gray;
}
.dashboard main .news-feed-container .comment-section .comment-content .comment .inputPop {
  display: block;
}
.dashboard main .news-feed-container .comment-active {
  height: -webkit-max-content;
  height: max-content;
}
.dashboard footer {
  background-color: white;
  border-top: 1px solid #d1d1d1;
  position: fixed;
  display: block;
  bottom: 0;
  width: 100%;
}
.dashboard footer ul {
  margin: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.dashboard footer li {
  padding: 10px;
  width: 100%;
  text-align: center;
  height: 100%;
  font-size: 1.5em;
  color: #1ed2f4;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.dashboard footer .footer-active {
  border-top: 2px solid #0074e1;
  color: #0074e1 !important;
}
.dashboard .footer-nav-show {
  display: block;
}
.dashboard .footer-nav-none {
  display: none;
}
.dashboard .newTweetIcon {
  position: fixed;
  background-color: #f79e02;
  z-index: 11;
  color: white;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  box-shadow: 2px 3px 9px #f79e02;
  bottom: 70px;
  right: 30px;
  cursor: pointer;
}
.dashboard .userHomeProfile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.dashboard .userHomeProfile-section .editUser {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}
.dashboard .userHomeProfile-section .editUser .editProfileOwner-background {
  background-color: rgba(55, 55, 55, 0.5);
  height: 100vh;
  width: 100vw;
  z-index: 10;
}
.dashboard .userHomeProfile-section .editUser .editUserForm {
  height: 500px;
  width: 350px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 11;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dashboard .userHomeProfile-section .editUser .editUserForm i {
  color: #1ed2f4;
}
.dashboard .userHomeProfile-section .editUser .editUserForm h1 {
  font-family: "Open Sans", sans-serif;
  color: #1ed2f4;
  margin: 20px;
  margin-right: auto;
}
.dashboard .userHomeProfile-section .editUser input {
  width: 80%;
  height: 1.4rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: #1ed2f4;
}
.dashboard .userHomeProfile-section .editUser input[type=submit] {
  background-color: #f79e02;
  color: #f4f5f6;
  font-family: "Open Sans", sans-serif;
  border-radius: 1em;
  width: 50%;
  height: 2em;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.dashboard .userHomeProfile-section .editUser input[type=submit]:hover {
  transform: scale(1.2);
}
.dashboard .userHomeProfile-section .editUser .input-container {
  border: 2px solid #1ed2f4;
  background-color: transparent;
  width: 80%;
  margin: 10px;
  border-radius: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}
.dashboard .userHomeProfile-section .editUserActive {
  display: block;
}
.dashboard .userHomeProfile-section .Userpicture {
  width: 100%;
}
.dashboard .userHomeProfile-section .coverPhoto {
  margin: auto;
  height: 250px;
  width: 95%;
  background-color: #1ed2f4;
  border-radius: 13px;
  position: relative;
  overflow: hidden;
}
.dashboard .userHomeProfile-section .coverPhoto img {
  width: 100%;
  z-index: 5;
  height: 100%;
}
.dashboard .userHomeProfile-section .coverPhoto input {
  display: none;
}
.dashboard .userHomeProfile-section .coverPhoto label {
  position: absolute;
  bottom: 10px;
  z-index: 6;
  color: #0074e1;
  right: 10px;
  cursor: pointer;
  padding: 3px;
  border-radius: 5px;
  background-color: white;
}
.dashboard .userHomeProfile-section .profilePicAndBtn {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.dashboard .userHomeProfile-section .profilePicAndBtn button {
  height: 30px;
  width: 100px;
  margin-top: 10px;
  margin: 20px;
  outline: 0;
  border: 0;
  border-radius: 13px;
  background-color: #0074e1;
  color: #f4f5f6;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
.dashboard .userHomeProfile-section .prof-pic {
  margin-top: -50px;
  margin-left: 20px;
  z-index: 6;
}
.dashboard .userHomeProfile-section .prof-pic input {
  display: none;
}
.dashboard .userHomeProfile-section .prof-pic label {
  color: #0074e1;
  cursor: pointer;
  margin-left: -20px;
  font-size: 1.3em;
}
.dashboard .userHomeProfile-section .prof-pic img {
  width: 120px;
  height: 120px;
  border-radius: 120px;
}
.dashboard .userHomeProfile-section .prof-pic p {
  text-align: center;
  color: #0074e1;
  font-family: "Open Sans", sans-serif;
}
.dashboard .userHomeProfile-section .friend-total-container {
  padding: 10px;
  background-color: white;
  width: 80%;
  margin: 10px;
  border-radius: 13px;
}
.dashboard .userHomeProfile-section .friend-total-container .friend-total-container-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dashboard .userHomeProfile-section .friend-total-container h3 {
  font-family: "Open Sans", sans-serif;
  color: #1ed2f4;
}
.dashboard .userHomeProfile-section .friend-total-container button {
  outline: 0;
  border: none;
  border-bottom: 1px solid #0074e1;
  color: #0074e1;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
.dashboard .userHomeProfile-section .friend-total-container .friend {
  margin-top: 20px;
  display: none;
  justify-content: space-between;
}
.dashboard .userHomeProfile-section .friend-total-container .friend p {
  font-family: "Open Sans", sans-serif;
  color: #0074e1;
}
.dashboard .userHomeProfile-section .friend-total-container .friend button {
  border: none;
  background-color: #0074e1;
  color: white;
  padding: 5px;
  border-radius: 13px;
}
.dashboard .userHomeProfile-section .friend-total-container .friend-active {
  display: flex;
}
.dashboard .userHomeProfile-section .user-posts-none {
  display: none;
}
.dashboard .userHomeProfile-section .active-new-tweet {
  top: 50% !important;
}
.dashboard .userHomeProfile-section .new-Tweet {
  display: flex;
  width: 90%;
  position: fixed;
  top: 1000%;
  left: 50%;
  height: 80vh;
  transition: 0.5s;
  transform: translate(-50%, -50%);
  z-index: 11;
  padding: 10px 15px;
  padding-top: 20px;
  background-color: white;
  border-radius: 13px;
  margin-bottom: 20px;
  justify-content: space-between;
  border: 1px solid #d1d1d1;
}
.dashboard .userHomeProfile-section .new-Tweet .user_pic {
  width: 10%;
}
.dashboard .userHomeProfile-section .new-Tweet .user_pic img {
  width: 70%;
}
.dashboard .userHomeProfile-section .new-Tweet .newTweetForm {
  width: 90%;
}
.dashboard .userHomeProfile-section .new-Tweet .newTweetForm .form {
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 10px;
  width: 100%;
}
.dashboard .userHomeProfile-section .new-Tweet .newTweetForm img {
  width: 90% !important;
}
.dashboard .userHomeProfile-section .new-Tweet .newTweetForm textarea {
  width: 100%;
  resize: none;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  outline: 0;
  border: none;
}
.dashboard .userHomeProfile-section .new-Tweet .newTweetForm .formIconsContainer {
  display: flex;
}
.dashboard .userHomeProfile-section .new-Tweet .newTweetForm .formIconsContainer input[type=file] {
  display: none;
}
.dashboard .userHomeProfile-section .new-Tweet .newTweetForm .formIconsContainer label {
  color: #1ed2f4;
  margin-top: 10px;
  font-size: 1.2em;
  cursor: pointer;
}
.dashboard .userHomeProfile-section .new-Tweet .newTweetForm .formIconsContainer input[type=submit] {
  padding: 10px;
  background-color: #1ed2f4;
  color: white;
  font-family: "Open Sans", sans-serif;
  border: none;
  border-radius: 20px;
  margin-left: auto;
  cursor: pointer;
  transition: 0.5s;
  outline: 0;
}
.dashboard .userHomeProfile-section .new-Tweet .newTweetForm .formIconsContainer input[type=submit]:hover {
  transform: scale(1.1);
}
.dashboard .userHomeProfile-section .news-feed-container .empty {
  background-color: white;
  text-align: center;
  padding: 30px;
  border-radius: 13px;
}
.dashboard .userHomeProfile-section .news-feed-container .empty p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #0074e1;
}
.dashboard .userHomeProfile-section .news-feed-container .news-feed {
  display: flex;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 13px;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  width: 100%;
  height: -webkit-max-content;
  height: max-content;
}
.dashboard .userHomeProfile-section .news-feed-container .profile_logo {
  width: 10%;
}
.dashboard .userHomeProfile-section .news-feed-container .profile_logo img {
  width: 5vw;
  max-width: 40px;
  max-height: 40px;
  min-width: 30px;
  min-height: 30px;
  height: 5vw;
  border-radius: 40px;
}
.dashboard .userHomeProfile-section .news-feed-container .feed-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.dashboard .userHomeProfile-section .news-feed-container .feed-content img {
  width: 90%;
}
.dashboard .userHomeProfile-section .news-feed-container .feed-content p {
  width: 100%;
}
.dashboard .userHomeProfile-section .news-feed-container .tweet-content textarea {
  width: 90%;
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  resize: vertical;
  display: none;
  color: grey;
}
.dashboard .userHomeProfile-section .news-feed-container .tweet-content .pop {
  display: block;
}
.dashboard .userHomeProfile-section .news-feed-container .feed-user-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}
.dashboard .userHomeProfile-section .news-feed-container .feed-user-info p {
  margin-left: 10px;
}
.dashboard .userHomeProfile-section .news-feed-container .feed-user-info .date {
  margin-left: auto;
  display: flex;
}
.dashboard .userHomeProfile-section .news-feed-container .feed-user-info #Postdate {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7em;
}
.dashboard .userHomeProfile-section .news-feed-container .feed-user-info .dropdownOption {
  height: 0;
  overflow: hidden;
  right: 0;
  top: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  transition: 0.5s;
  z-index: 10;
}
.dashboard .userHomeProfile-section .news-feed-container .feed-user-info .dropdownOption button {
  margin: 5px;
  outline: none;
  border: none;
  background-color: #0074e1;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.dashboard .userHomeProfile-section .news-feed-container .feed-user-info .dropdown-active {
  height: 70px !important;
}
.dashboard .userHomeProfile-section .news-feed-container .feed-user-info .feed-username {
  font-weight: bolder;
  color: #0074e1;
}
.dashboard .userHomeProfile-section .news-feed-container .icons ul {
  display: flex;
  list-style-type: none;
}
.dashboard .userHomeProfile-section .news-feed-container li {
  display: flex;
  margin-top: 10px;
}
.dashboard .userHomeProfile-section .news-feed-container i {
  color: #1ed2f4;
  margin: 0 10px;
}
.dashboard .userHomeProfile-section .news-feed-container i:hover {
  color: #0074e1;
  cursor: pointer;
}
.dashboard .userHomeProfile-section .news-feed-container .fa-heart:hover {
  color: red;
}
.dashboard .userHomeProfile-section .news-feed-container .liked {
  color: red;
}
.dashboard .userHomeProfile-section .news-feed-container .liked:hover {
  color: #0074e1;
}
.dashboard .userHomeProfile-section .news-feed-container .comment-section {
  height: 0;
  overflow: hidden;
}
.dashboard .userHomeProfile-section .news-feed-container .comment-section input {
  width: 90%;
  font-size: 0.9em;
  outline: none;
  border: none;
  border-bottom: 1px solid #949494;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}
.dashboard .userHomeProfile-section .news-feed-container .comment-section .comment-container {
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  padding: 10px;
}
.dashboard .userHomeProfile-section .news-feed-container .comment-section .comment-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}
.dashboard .userHomeProfile-section .news-feed-container .comment-section .comment-content .username-profile-comment {
  width: 10%;
  margin-bottom: auto;
}
.dashboard .userHomeProfile-section .news-feed-container .comment-section .comment-content .username-profile-comment img {
  width: 100%;
}
.dashboard .userHomeProfile-section .news-feed-container .comment-section .comment-content .comment {
  width: 85%;
}
.dashboard .userHomeProfile-section .news-feed-container .comment-section .comment-content .comment h3 {
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  color: #0074e1;
  display: inline;
}
.dashboard .userHomeProfile-section .news-feed-container .comment-section .comment-content .comment .username-and-options {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.dashboard .userHomeProfile-section .news-feed-container .comment-section .comment-content .comment .username-and-options .dropdownOption {
  height: 0;
  overflow: hidden;
  right: 0;
  top: 20px;
  display: flex;
  position: absolute;
  transition: 0.5s;
  z-index: 10;
}
.dashboard .userHomeProfile-section .news-feed-container .comment-section .comment-content .comment .username-and-options .dropdownOption button {
  margin: 5px;
  width: 50px;
  outline: none;
  border: none;
  background-color: #0074e1;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.dashboard .userHomeProfile-section .news-feed-container .comment-section .comment-content .comment .dropdown-active {
  transition: 0.5s;
  height: -webkit-max-content !important;
  height: max-content !important;
}
.dashboard .userHomeProfile-section .news-feed-container .comment-section .comment-content .comment i {
  right: 0;
}
.dashboard .userHomeProfile-section .news-feed-container .comment-section .comment-content .comment p {
  font-size: 0.9em;
  font-family: "Open Sans", sans-serif;
}
.dashboard .userHomeProfile-section .news-feed-container .comment-section .comment-content .comment input {
  font-size: 0.9em;
  font-family: "Open Sans", sans-serif;
  border-bottom: none;
  background-color: transparent;
  display: none;
  border-top: 1px solid #0074e1;
  color: gray;
}
.dashboard .userHomeProfile-section .news-feed-container .comment-section .comment-content .comment .inputPop {
  display: block;
}
.dashboard .userHomeProfile-section .news-feed-container .comment-active {
  height: -webkit-max-content;
  height: max-content;
}

@media only screen and (min-width: 1000px) {
  .dashboard main {
    display: flex;
    position: relative;
  }
  .dashboard main section {
    display: block;
  }
  .dashboard main .notification-section {
    width: 25%;
    height: 500px;
    margin-top: 0;
    position: fixed;
    left: 10px;
  }
  .dashboard main .newsFeed-section {
    width: 40%;
    max-width: 60%;
    margin-top: 0;
  }
  .dashboard main .newsFeed-section .new-Tweet {
    display: flex;
    position: static;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    height: -webkit-max-content;
    height: max-content;
  }
  .dashboard main .profile_suggestion-section {
    margin-top: 0;
    width: 25%;
    height: 500px;
    position: fixed;
    right: 10px;
  }
  .dashboard main .profile_suggestion-section .friend_suggestion_container {
    height: 250px !important;
    overflow-y: auto;
  }
  .dashboard .footer-nav-show {
    display: none;
  }
  .dashboard footer {
    display: none;
  }
  .dashboard .newTweetIcon {
    display: none;
  }
  .dashboard .userHomeProfile-section {
    width: 100%;
    max-width: 50%;
    width: 100%;
  }
  .dashboard .userHomeProfile-section .user-posts {
    width: 80%;
  }
  .dashboard .userHomeProfile-section .user-posts .newsFeed-section {
    width: 100% !important;
    max-width: 100% !important;
  }
}