@import 'variables';
@import 'dashboard-mixin';
@import 'news-feed-mixin';

.dashboard{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
    @include header;
    @include main;
    @include footer;
    .footer-nav-show{
        display: block;
    }
    .footer-nav-none{
        display: none;
    }
    .newTweetIcon{
        position: fixed;
        background-color: $tertiary;
        z-index: 11;
        color: white;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        box-shadow: 2px 3px 9px $tertiary;
        bottom: 70px;
        right: 30px;
        cursor: pointer;
    }
    .userHomeProfile-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        
        .editUser{
            display: none;
            
            position: fixed;
            z-index: 10;
            top: 0;
            left: 0;
            
            .editProfileOwner-background{
                background-color: rgba(55, 55, 55, 0.5);
                height: 100vh;
                width: 100vw;
                z-index: 10;
            }
            .editUserForm{
                height: 500px;
                width: 350px;
                background-color: white;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 11;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                i{
                    color: $primary;
                }
                h1{
                    font-family: $secondaryFont, sans-serif;
                    color: $primary;
                    margin: 20px;
                    margin-right: auto;
                }
            }
            input{
                width: 80%;
                height: 1.4rem;
                border: none;
                outline: none;
                background-color: transparent;
                color: $primary;
            }
            input[type=submit]{
                background-color: $tertiary;
                color: $quarternary;
                font-family: $secondaryFont, sans-serif;
                border-radius: 1em;
                width: 50%;
                height: 2em;
                margin: 10px;
                cursor: pointer;
                transition: .5s;
                &:hover{
                    transform: scale(1.2);
                }
            }
            .input-container{
                border: 2px solid $primary;
                background-color: transparent;
                width: 80%;
                margin: 10px;
                border-radius: 2rem;
                height: 2rem;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding: 5px;
            }
        }
        .editUserActive{
            display: block;
        }
        .Userpicture{
            width: 100%;
        }
        .coverPhoto{
            margin: auto;
            height: 250px;
            width: 95%;
            background-color: $primary;
            border-radius: 13px;
            position: relative;
            img{
                width: 100%;
                z-index: 5;
                height: 100%;
            }
            input{
                display: none;
            }
            label{
                position: absolute;
                bottom: 10px;
                z-index: 6;
                color: $secondary;
                right: 10px;
                cursor: pointer;
                padding: 3px;
                border-radius: 5px;
                background-color: white;
            }
            overflow: hidden;
        }
        .profilePicAndBtn{
            display: flex;
            width: 100%;
            justify-content: space-between;
            button{
                height: 30px;
                width: 100px;
                margin-top: 10px;
                margin: 20px;
                outline: 0;
                border: 0;
                border-radius: 13px;
                background-color: $secondary;
                color: $quarternary;
                font-family: $secondaryFont, sans-serif;
                cursor: pointer;

            }
        }
        .prof-pic{
            margin-top: -50px;
            margin-left: 20px;
            z-index: 6;
            input{
                display: none;
            }
            label{
                color: $secondary;
                cursor: pointer;
                margin-left: -20px;
                font-size: 1.3em;
            }
            img{
                width: 120px;
                height: 120px;
                border-radius: 120px;
            }
            p{
                text-align: center;
                color: $secondary;
                font-family: $secondaryFont, sans-serif;
            }
            
        }
        .friend-total-container{
            display: flex;
            padding: 10px;
            background-color: white;
            width: 80%;
            margin: 10px;
            border-radius: 13px;
            justify-content: space-between;
            h3{
                font-family: $secondaryFont, sans-serif;
                color: $primary;
            }
            button{
                outline: 0;
                border: none;
                border-bottom: 1px solid $secondary;
                color: $secondary;
                background-color: transparent;
                font-family: $secondaryFont, sans-serif;
                cursor: pointer;

            }

        }
        
        @include news-feed;
        

    }
    
}

@media only screen and (min-width : 1000px){
    .dashboard{
        @include mainPC;
        .footer-nav-show{
            display: none;
        }
        footer{
            display: none;
        }
        .newTweetIcon{
            display: none;
        }
        .userHomeProfile-section{
            width: 100%;
            max-width: 50%;
            .user-posts{
                width: 80%;
                .newsFeed-section{
                    width: 100% !important;
                    max-width: 100% !important;
                }
            }
            width: 100%;
        }
    }
}