@import 'variables';
@import 'home-mixins';
.Home{
    display: flex;
    flex-direction: column;
    header, .authenticate, .about1-container{
        background-color: $primary;
    }
    @include Nav;
    @include Authenticate;
}
@media only screen and(min-width: 600px){
    @include Tablet;
}