@mixin news-feed {
    .active-new-tweet{
        top : 50% !important;
    }
    .new-Tweet{
        display: flex;
        width: 90%;
        position: fixed;
        top: 1000%;
        left: 50%;
        height: 80vh;
        transition: .5s;
        transform: translate(-50%, -50%);
        z-index: 11;
        padding: 10px 15px;
        padding-top: 20px;
        background-color: white;
        border-radius: 13px;
        margin-bottom: 20px;
        justify-content: space-between;
        border: 1px solid rgb(209, 209, 209);
        .user_pic{
            width : 10%;
            img{
                width : 70%

            }
        }
        .newTweetForm{
            width: 90%;
            .form{
                border-bottom: 1px solid rgb(209, 209, 209);
                margin-bottom: 10px;
                width: 100%;
                

            }
            img{
                width: 90% !important;
            }
            textarea{
                width: 100%;
                resize: none;
                padding: 5px;
                font-family: $secondaryFont, sans-serif;
                outline: 0;
                border: none;
                
            }
            
            .formIconsContainer{
                display: flex;
                input[type=file]{
                    display: none;
                }
                label{
                    color : $primary;
                    margin-top: 10px;
                    font-size: 1.2em;
                    cursor: pointer;
                }
                input[type=submit]{
                    padding:  10px;
                    background-color: $primary;
                    color : white;
                    font-family: $secondaryFont, sans-serif;
                    border: none;
                    border-radius: 20px;
                    margin-left: auto;
                    cursor: pointer;
                    transition: .5s;
                    outline: 0;
                    &:hover{
                        transform: scale(1.1);
                    }
                }

            }
        }
    }
    .news-feed-container{ 
        
        
        .news-feed{
            
            display: flex;
            padding: 10px 15px;
            margin-bottom: 10px;
            border: 1px solid rgb(209, 209, 209);
            border-radius: 13px;
            font-family: $secondaryFont, sans-serif;
            background-color: white;
            width: 100%;
            height: max-content;
        
        }
        

        .profile_logo{
            width: 10%;
            img{
                width: 5vw;
                max-width: 40px;
                max-height: 40px;
                min-width: 30px;
                min-height: 30px;
                height: 5vw;
                border-radius: 40px;
            }
        }
        .feed-content{
            width: 90%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            img{
                width: 90%;
            }

            p{
                width: 100%;
                // overflow: hidden;
            }
        }
        .tweet-content{
            textarea{
                width: 90%;
                font-family: $secondaryFont, sans-serif;
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 1em;
                resize: vertical;
                display: none;
                color: grey;

            }
            .pop{
                display: block;
            }
        }
        
        
        .feed-user-info{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            position: relative;
            width: 100%;
            p{
                margin-left: 10px;
            }
            .date{
                margin-left: auto;
                display: flex;

            }
            
            #Postdate{
                
                font-family: $secondaryFont, sans-serif;
                font-size: 0.7em;
                
            }
            
            .dropdownOption{
                // height: 100px;
                // width: 100px;
                height: 0;
                overflow: hidden;
                right: 0;
                top: 20px;
                display: flex;
                flex-direction: column;
                position: absolute;
                transition: 0.5s;
                z-index: 10;
                button{
                    margin: 5px;
                    outline: none;
                    border: none;
                    background-color: $secondary;
                    color: white;
                    padding: 5px;
                    border-radius: 5px;
                }


            }
            .dropdown-active{
                height: 70px !important;
            }
            .feed-username{
                font-weight: bolder;
                color: $secondary;
            }
        }
        .icons ul{
            display: flex;
            list-style-type: none;
        }
        li{
            display: flex;
            margin-top: 10px;
        }
        i{
            color: $primary;
            margin: 0 10px;
            &:hover{
                color: $secondary;
                cursor: pointer;
            }
        }
        .fa-heart{
            &:hover{
                color : red
            }
        }
        .liked{
            color : red;
            &:hover{
                color : $secondary
            }
        }
        .comment-section{
            height : 0;
            overflow: hidden;
            input{
                width: 90%;
                font-size: 0.9em;
                outline: none;
                border : none;
                border-bottom: 1px solid rgb(148, 148, 148);
                font-family: $secondaryFont, sans-serif;
                margin-top: 10px;
            }
            .comment-container{
                max-height: 300px;
                overflow-y: auto;
                width: 100%;
                padding: 10px;
            }
            .comment-content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin: 10px 0;
                
                .username-profile-comment{
                    width: 10%;
                    margin-bottom: auto;
                    
                    img{
                        width: 100%;
                    }
                }
                .comment{
                    width: 85%;
                    h3{
                        font-size: 1em;
                        font-family: $secondaryFont, sans-serif;
                        color: $secondary;
                        display: inline;
                    }
                    .username-and-options{
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;
                        position: relative;
                        .dropdownOption{
                            // height: 100px;
                            // width: 100px;
                            height: 0;
                            overflow: hidden;
                            right: 0;
                            top: 20px;
                            display: flex;
                            
                            position: absolute;
                            transition: 0.5s;
                            z-index: 10;
                            button{
                                margin: 5px;
                                width: 50px;
                                outline: none;
                                border: none;
                                background-color: $secondary;
                                color: white;
                                padding: 5px;
                                border-radius: 5px;
                                cursor: pointer;
                            }
    
    
                        }
                    }
                    .dropdown-active{
                        transition: 0.5s;
                        height: max-content !important;
                    }
                    
                    i{
                        right: 0;
                    }
                    p{
                        font-size: 0.9em;
                        font-family: $secondaryFont, sans-serif;
                    }
                    input{
                        font-size: 0.9em;
                        font-family: $secondaryFont, sans-serif;
                        border-bottom: none;
                        background-color: transparent;
                        display: none;
                        border-top: 1px solid $secondary;
                        color: gray;
                    }
                    .inputPop{
                        display: block;
                    }

                }
            }
            
        }
        .comment-active{
            height : max-content;
        }
        
    }
    
}

